body {
    margin: 0px;
    font-size: 0pt;
}

.login_wrap {
    text-align: right;
    padding: 10px;
    font-size : 12pt;
}

.ob_wrap {
    width: 800px;
    margin: 0px auto;
    border: 1px solid #444444;
}

.write_area {
    height: 100px;
}

.user_info {
    display: inline-table;
    width: 100px;
    height: 100px;
    vertical-align: top;
}

.user_name {
    display: table-cell;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    font-size: 12pt;
}

.write_con_wrap {
    display: inline-block;
    width: 550px;
    height: 100px;
    vertical-align: top;
}

.write_con {
    width: 540px;
    height: 90px;
    resize: none;
    margin: 2px;
}

.btn_wrap {
    display: inline-block;
    width: 150px;
    height: 100px;
    vertical-align: top;
}

.action_btn {
    width: 146px;
    height: 96px;
    margin: 2px;
}

.action_btn2 {
    width: 71px;
    height: 96px;
    margin: 2px;
}

.write_area.action_btn2 {
    display: none;
}

.login_req_wrap {
    display: inline-table;
    width: 800px;
    height: 100px;
}

.login_req {
    display: table-cell;
    width: 800px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    font-size: 12pt;
}

.data_req_wrap {
    display: inline-table;
    width: 800px;
    height: 100px;
    border-top: 1px solid #444444;
    margin-bottom: 5px;
}

.data_req {
    display: table-cell;
    width: 800px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    font-size: 12pt;
}

.ob_data {
    border-top: 1px solid #444444;
    margin-bottom: 5px;
}

.con_info {
    display: inline-table;
    width: 550px;
    height: 100px;
    vertical-align: top;
}

.con {
    display: table-cell;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: left;
    font-size: 12pt;
}
.date {
    display: table-cell;
    width : auto;
    height : 10px;
    vertical-align : bottom;
    text-align: right;
    font-size : 10pt;
}
.paging_wrap {
    margin: 5px 0px;
    padding: 5px 0px;
    border-top: 1px solid #444444;
    text-align: center;
}

.paging_wrap span {
    margin: 0px 5px;
    font-size: 12pt;
    cursor: pointer;
}